html 
  head 
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="shortcut icon", href="/public/images/logo.png", type="image/x-icon")
    link(rel="stylesheet", href="/public/styles/index.css")
    title ChatChat || Chat with World
  body 
    include header.pug
    form(action='/login', method='post')
      h2 Login
      p Not a user already? 
        a(href="/register") Resigter
        input(type='text', name='username' placeholder="Username")
        input(type='password', name='password' placeholder="Password")
        button(type="submit") Sign In


          
    form(action='/register', method='post')
      h2 Create Account
      p Already have an account? 
        a(href="/login") Sign in
        input(type='text', name='username' placeholder="Username")
        input(type='password', name='password' placeholder="Password")
        button(type="submit") Register

    //- if showSocialAuth
    //-   hr
    //-   h2.center Social Login
    //-   .login.center
    //-     a(href='/auth/github').text Login with Github!
